 /* font-family: "Raleway", sans-serif;
    font-family: "Roboto",sans-serif; */
:root {
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --navy-blue: #2e2f42;
    --green: #31d0aa;
    --slate: #434455;
    --light-slate: #8e8f99;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --navy-blue-modal: rgba(46, 47, 66, 0.4);
    --grey: rgba(46, 47, 66, 0.7);
    --white: #fff;
    --dairy: #fcfcfc;
}
/* #region common style */

body {
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

a {
    color: inherit;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

button{
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* #endregion common style */


/* #region  second common style */

.container{
    max-width: 320px;
    padding: 0px 16px;
    margin: 0 auto;
}

@media screen and (min-width:768px) {
    .container {
            max-width: 768px;
        }
}

@media screen and (min-width:1158px) {
    .container {
        max-width: 1158px;
        padding: 0px 15px;
    }
}

/* #endregion second common style */

/* #region  header style */

.page-header {
    border-bottom: 1px solid var(--cornflower);
    background: var(--white);
    box-shadow: 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list{
    display: none;
}

.header-address{
    display: none;
}

.page-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
    padding: 16px 0;
    display: block;
}

.part-logo {
    font-family: "Raleway", sans-serif;
    color: var(--navy-blue);
}

.burger-btn{
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon{
    fill: #2f2f37;;
}

@media screen and (min-width:768px) {
    .burger-btn {
        display: none;
        }

    .page-nav {
        display: flex;
        align-items: center;
     }

     .page-logo{
        padding: 24px 0;
        margin-right: 120px;
     }

    .nav-list {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .nav-list-item {
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
    }

    .header-address {
        font-style: normal;
        display: block;
    }

    .nav-link {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
    }

    .nav-list .nav-list-item:first-child .nav-link {
    position: relative;
    color: #404BBF;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .nav-link:focus,
    .nav-link:active,
    .nav-link:hover {
        color: #404bbf;
    }
       
    .nav-list .nav-list-item:first-child .nav-link::after {
        position: absolute;
        content: "";
        background-color: #404BBF;
        width: 100%;
        height: 4px;
        display: block;
        border-radius: 2px;
        left: 0;
        bottom: -1px;
    }
    
    .header-address-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .address-link {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: var(--slate);
    }

}

@media screen and (min-width:1158px) {

    .page-logo {
        margin-right: 76px;
    }

    .header-address-list {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }

    .address-link {
        display: block;
        font-size: 16px;
        padding: 24px 0;
        line-height: 1.5;
        letter-spacing: 0.02em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .address-link:hover,
    .address-link:focus {
        color: #404BBF;
    }

}

/* #endregion  header style */

/* #region  mobile menu style */
.mobile-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.mobile-menu.is-open{
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

.mobile-menu-container{
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.button-close-menu{
    position: absolute;
    right: 24px;
    top: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #fdfdff;
    border-width: 1px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-button-menu{
    fill: var(--navy-blue);
}

.phone-nav-menu{
   margin-bottom: auto;
   
}

.phone-nav-list{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.phone-nav-item{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

.phone-nav-item:first-child{
    color: var(--ocean);
}

.phone-nav-link{

}

.phone-address-menu{
    margin-bottom: 48px;
}

.phone-address-list{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.phone-address-item{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--slate);
}

.phone-address-item:first-child{
    color: var(--iris);
}

.phone-address-link{
    font-style: normal;

}


.phone-social-link{

}

.list-social-media {
    display: flex;
    gap: 40px;
}

.item-social-media {
    display: flex;
    width: calc((100% - 120px) / 4);
}

.social-link {
    width: 40px;
    height: 40px;
    background-color: var(--iris);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.svg-icon {
    fill: var(--cloud);
}



@media screen and (min-width:768px) {
    .mobile-menu{
        display: none;
    }
}
    

/* #endregion  mobile menu style */


/* #region  region style */

.section-hero {
    background-color: var(--navy-blue);
    padding: 72px 0;
    background-image: linear-gradient(to bottom,
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
    url(../images/hero-image-p@1x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 320px;
    background-position: center;
    margin: 0 auto;
}

.main-title {
    margin: 0 auto;
    margin-bottom: 72px;
    max-width: 216px;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--white);
}

.order-button {
    border: none;
    display: block;
    background-color: var(--iris);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    margin: 0 auto;
    border-radius: 4px;
    min-width: 169px;
    min-height: 56px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

 @media (min-resolution: 192dpi) {
    .section-hero { 
        background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
            url(../images/hero-image-p@2x.jpg);
     }
}

@media screen and (min-width:768px) {
    .section-hero {
            padding: 112px 0;
            background-image: linear-gradient(to bottom,
                    rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/hero-image-t@1x.jpg);
            max-width: 768px;
        }
    
        .main-title {
            margin-bottom: 36px;
            max-width: 496px;
            font-size: 56px;
            line-height: 1.07;
        }

        .order-button:hover,
        .order-button:focus {
            background-color: #404BBF;
        }

    @media (min-resolution: 192dpi) {
        .section-hero {
            background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
                url(../images/hero-image-t@2x.jpg);
        }
    }
}

@media screen and (min-width:1158px) {
    .section-hero {
            padding: 188px 0;
            background-image: linear-gradient(to bottom,
                    rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/hero-image-pc@1x.jpg);
            max-width: 1440px;
        }
    
        .main-title {
            margin-bottom: 48px;
        }

        @media (min-resolution: 192dpi) {
            .section-hero {
                background-image: linear-gradient(to bottom,
                        rgba(46, 47, 66, 0.7),
                        rgba(46, 47, 66, 0.7)),
                    url(../images/hero-image-pc@2x.jpg);
            }
        }
}

/* #endregion  region style */